* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Viga', sans-serif;
}

body {
    background-color: #6ED8CC;
}

/* header */
header {
    padding: 0 !important;
}

/* main */
main {
    padding: 0 !important;
}

main h1 {
    font-size: 8em;
    font-family: 'Trade Winds', cursive;
    text-align: center;
    padding: 2%;
    color: white;
}

h2 {
    color: white;
    margin-bottom: 3rem;
    font-family: 'Trade Winds', cursive;
    padding: 2%;
    background-color: #BC64F7;
    text-align: center;
    font-size: 2.5em;
}

h3, h4 {
    color: white;
    margin-bottom: 3rem;
    font-family: 'Trade Winds', cursive;
    text-align: center;
    background-color: #9B15F4;
    padding: 2%;
    font-size: 2em;
}

p {
    margin: 1rem;
    text-align: center;
    font-size: large;
}

.tamaño {
    margin: 2rem;
    text-align: center;
    font-size: xx-large;
}

.imagen{
    width: 4rem;
}

#beneficios,
#mejores,
#fisico,
#mental,
#venYdes,
#suscripcion {
    margin-bottom: 2rem;
    text-indent: -9999px;
}

section ul li {
    margin: 2rem;
    font-size: large;
}

.card{
    background-color: #AEEAE3;
}

button{
    margin-bottom: 5rem;
}

/* footer */
footer {
    width: 100%;
    text-align: center;
    background-color: #BC64F7;
    padding: 1%;
}

footer p {
    margin: 1rem;
    color: white;
}

footer div a {
    display: flex;
    width: 65px;
    height: 65px;
}

.ico1 {
    background: url(../images/facebook.png) no-repeat 0 0;
    width: 65px;
    height: 65px;
    text-indent: -400px;
    overflow: hidden;
    font-size: 0;
    display: inline-block;
}


.ico2 {
    background: url(../images/instagram.png) no-repeat 0 0;
    width: 65px;
    height: 65px;
    text-indent: -400px;
    overflow: hidden;
    font-size: 0;
    display: inline-block;
    margin-left: 2%;
}

.ico3 {
    background: url(../images/twitter.png) no-repeat 0 0;
    width: 65px;
    height: 65px;
    text-indent: -400px;
    overflow: hidden;
    font-size: 0;
    display: inline-block;
    margin-left: 2%;
}